<!-- Material form register -->
<div class="card" style="width: 50%; margin-left: 40%">

  <h5 class="card-header white-text text-center py-4 bg-info">
    <strong>Sign up</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575" (ngSubmit)="createUser()" [formGroup]="registerForm">

      <div class="form-row" style="margin-top: 1em">
        <div class="col">
          <!-- First name -->
          <div class="md-form input-group mb-3">
            <div class="input-group-lg">
              <label for="materialRegisterFormFirstName" class="input-group-text">First name</label>
            </div>
            <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="firstName"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
        </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form input-group mb-3">
            <div class="input-group-lg">
              <label for="materialRegisterFormLastName" class="input-group-text">Last name</label>
            </div>
            <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="lastName"
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
      </div>

      <!-- E-mail -->
      <div class="md-form mt-0 input-group mb-3">
        <div class="input-group-lg ">
          <label for="materialRegisterFormEmail" class="input-group-text" style="width: 6em">E-mail</label>
        </div>
        <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>

      <!-- Password -->
      <div class="md-form input-group mb-3">
        <div class="input-group-lg">
          <label for="materialRegisterFormPassword" class="input-group-text" style="width: 6em">Password</label>
        </div>
        <input type="password" id="materialRegisterFormPassword" class="form-control" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <!-- Phone number -->
      <div class="md-form input-group mb-3">
        <div class="input-group-lg">
          <label for="materialRegisterFormPhone" class="input-group-text" style="width: 6em">Phone</label>
        </div>
        <input type="number" id="materialRegisterFormPhone" class="form-control" formControlName="phoneNumber"
               [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">PhoneNumber is required</div>
        </div>
      </div>

      <!--      &lt;!&ndash; Newsletter &ndash;&gt;-->
      <!--      <div class="form-check">-->
      <!--        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">-->
      <!--        <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>-->
      <!--      </div>-->

      <!-- Sign up button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" [disabled]="loading"><span
        *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign up
      </button>

      <!-- Social register -->
      <p>or sign up with:</p>

      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-li btn-sm">
        <i class="fab fa-google-plus-g"></i>
      </a>
      <a type="button" class="btn-floating btn-git btn-sm">
        <i class="fab fa-github"></i>
      </a>

      <hr>

      <!-- Terms of service -->
      <p>By clicking
        <strong>Sign up</strong> you agree to our
        <a href="" target="_blank">terms of service</a>

    </form>
    <!-- Form -->
  </div>

</div>
<!-- Material form register -->
